
<nav class="navbar navbar-expand-sm navbar-dark bg-btn">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <img src="assets/imgs/btn.png" height="45px" width="45px" />
      </li>
      <li class="nav-item mt-1">
        <a class="nav-link" style="color: white">Planes</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <form [formGroup]="form" class="form-inline">
    <div class="form-group mb-2  mx-sm-6 d-inline-block">
      <label class="my-1 px-2" for="environment">Ambiente:</label>
      <div class="d-inline-block">
        <select class="form-control custom-select" formControlName="environment" style="width: calc(4em + 0px)">
          <option *ngFor="let env of environments" [value]="env.value">{{ env.label }}</option>
        </select>
        <span class="select-arrow"></span>
      </div>
    </div>
    <div class="form-group mx-sm-6 mb-2 d-inline-block">
      <label class="my-1 px-2" for="country">País:</label>
      <div class="d-inline-block">
        <select class="form-control custom-select" style="width: calc(2em + 11px)" formControlName="country" required>
          <option value="ar">AR</option>
          <option value="uy">UY</option>
          <option value="py">PY</option>
        </select>
        <span class="select-arrow"></span>
      </div>
    </div>
    <div class="form-group mx-sm-6 mb-2 d-inline-block">
      <label class="my-1 px-2" for="codePlan">Código de Plan:</label>
      <div class="d-inline-block">
        <input type="text" class="form-control" id="codePlan" formControlName="codePlan" required style="width: calc(3em + 30px)" />
      </div>
    </div>
    <div class="form-group mx-sm-6 mb-2 d-inline-block">
      <label class="my-1 px-2" for="type">Tipo de Plan:</label>
      <div class="d-inline-block">
        <select class="form-control" id="type" formControlName="type" required [style.width.px]="100" style="text-align: center">
          <option value="Prepaid">Prepago</option>
          <option value="Postpaid">Postpago</option>
        </select>
      </div>
    </div>
    <div class="form-group mx-sm-3 mb-2 d-inline-block">
      <label class="my-1 px-2" for="procedure">Flujo:</label>
      <div class="d-inline-block">
        <select class="form-control" id="procedure" [style.width.px]="70" formControlName="procedure">
          <option *ngFor="let flow of flows" [value]="flow">{{ flow.toUpperCase() }}</option>
        </select>
      </div>
    </div>
    <div class="form-group mb-2 d-inline-block ml-2" style="margin-right: 10px;">
      <button class="btn btn-danger btn-block" [disabled]="!form.get('country').value || !form.get('codePlan').value || !form.get('type').value || !form.get('procedure').value" (click)="getPlan()">
        Buscar
      </button>
    </div>
    
    <div class="form-group mb-2 d-inline-block ml-2" style="margin-right: 10px;">
      <button 
        [disabled]="!response"
        class="btn btn-danger btn-block"
        (click)="savePlan()"
      >
        Guardar
      </button>
    </div>
    <div  class="form-group mb-2 d-inline-block ml-2" >
      <button 
        [disabled]="!response"
        class="btn btn-danger btn-block"
        (click)="editDate()"
      >
        Modificar
      </button>
    </div>
    <div class="form-group mx-sm-3 mb-2" id="mi-elemento" style="display:none" enabledDate="true">
      <label class="my-1 px-2" for="dateFrom">Desde:</label>
      <div class="d-inline-block">
        <input
          type="datetime-local"
          class="form-control"
          id="dateFrom"
          formControlName="dateFrom"
          required
          enabledDate="true"
        />
      </div>
    </div>
    <div class="form-group mx-sm-3 mb-2" id="mi-elemento2" style="display:none">
      <label class="my-1 px-2" for="dateTo">Hasta:</label>
      <div class="d-inline-block">
        <input
          type="datetime-local"
          class="form-control"
          id="dateTo"
          formControlName="dateTo"
          required
        />
      </div>
    </div>
  </form>
</div>
<div *ngIf="!response" class="container text-center">No se encontraron resultados</div>
<div *ngIf="response" class="row mx-auto mt-5">
  <div class="ml-5 col-5 border border-secondary rounded">
    <h3 class="text-danger">Original</h3>
    <div
      *ngIf="response != null"
      contentEditable="false"
      [innerHTML]="response"
    ></div>
  </div>

  <div class="ml-5 col-5 border border-secondary rounded">
    <h3 class="text-danger">Editable</h3>
    <div
      *ngIf="response != null"
      contentEditable="true"
      [innerHTML]="response"
      (input)="onDiv2InputChange($event.target.innerHTML)"
    ></div>
  </div>
</div>
<label (click)="test()">.</label>
